<h1>Articles</h1>
<div>
<% @articles.each do |a| %>
        <br><h1><%= a.title %></h1>
        <img src="<%=a.url_to_image%>"/><br>
        <h2><a href='<%= a.url %>'>Link</a></h2>
<% end %><br>
</div>

