<% if @bet.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-info">
      <%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved: 
        <% @bet.errors.each do |error| %>
        <%= error.full_message %>
      <% end %>
    </div>
  </div>
<% end %>