<div class="container-left">
  <h2 class="text-center">Sites & Odds</h2>          
  <table class="table table-light table-hover">
    <tbody>
      <% JSON[@odd.site_and_odds].each do |site| %>
      <tr>
        <td><%= site %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
