<h1> New Bet </h1> 

<%= form_for([@odd, @bet]) do |f| %>
    <%= f.label(:amount) %> 
    <%= f.number_field :amount %> 
    <h2> odds attributes </h2>
    <h2> collection of odds (method) </h1>
    

    <%= f.submit %> 
<% end %>