<% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
<% end %>
<br><h1>Welcome</h1><br>

<h2><%= link_to "Sports", sports_path %></h2><br>
<h2> Articles </h2><br>
<h2> Sports News </h2><br>







