
<div class="container-left">
  <h2 class="text-center">Matchups</h2>
  <p></p>            
  <table class="table table-light table-hover">
    <thead>
      <tr>
        <th>Teams</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% @odds.each do |o| %>
      <tr>
        <td><%= link_to o.teams, odd_path(o) %></td>
        <td><%= format_date(o.commence_time)%></td>
        <td><%= format_time(o.commence_time)%> EST </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>