<!DOCTYPE html>
<html>
  <head>
    <title>TopSportsBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     
  </head>
    <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Top Sports Book Rails</a>
    <form class="form-inline">
      <a class="btn btn-outline-primary" href="users/sign_in" role="button">
      Login
      </a>
      <div style="padding-left: 10px;">
        <a class="btn btn-outline-success" href="users/sign_up" role="button">
        Sign Up 
        </a>
      </div>
    </form>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
